#map {
    height: 100vh;
    /* Full height */
    width: 100%;
    z-index: 1;
}

.sos-item {
    padding: 10px;
    margin-bottom: 8px;
    background: white;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sos-item:hover {
    background: #f1f5f9;
}